[user]
	name = Pete Chudykowski
	email = pete.chudykowski@dreamhost.com

[core]
	; text-editor
	editor = vim

[color]
	ui = true
	diff = true
	pager = true
	status = auto
	branch = auto

[alias]
    ; shortcuts
	ci = commit
	co = checkout
	br = branch
	st = status

	; git dev <new_branch>
	; automatically set up a new branch at origin and a local
	; branch of the same name tracking its remote counterpart
	; switch to the new branch
	dev = "!dev() {\
		newbranch=$1;\
		[ -z $newbranch ] && echo \"Specify a branch\" && exit 1;\
		\
		echo "" && echo \"checking out master...\";\
		git checkout master;\
		rc=$?;\
		[ $rc != 0 ] && echo \"ERROR: $rc\" && exit $rc;\
		\
		echo "" && echo \"updating master...\";\
		git pull --rebase;\
		rc=$?;\
		[ $rc != 0 ] && echo \"ERROR: $rc\" && exit $rc;\
		\
		echo "" && echo \"branching into $newbranch from master...\";\
		git checkout -b $newbranch;\
		rc=$?;\
		[ $rc != 0 ] && echo \"ERROR: $rc\" && exit $rc;\
		\
		echo "" && echo \"creating $newbranch on remote...\";\
		git push origin $newbranch;\
		rc=$?;\
		[ $rc != 0 ] && echo \"ERROR: $rc\" && exit $rc;\
		\
		echo "" && echo \"setting $newbranch to track remote...\";\
		git branch -u origin/$newbranch;\
		rc=$?;\
		[ $rc != 0 ] && echo \"ERROR: $rc\" && exit $rc;\
		\
		echo "" && echo \"All done. You should be in $newbranch now.\";\
		echo \"+ git status\";\
		git status;\
		echo \"+ git branch -a | grep $newbranch\";\
		git branch -a | grep $newbranch;\
		\
		echo "" && echo \"Do your DEVest!\";\
	};\
	dev"


	; Useful aliases for Gerrit courtesy of Stephon Striplin

	; git review [branch_for_review]
	; interface to pushing refs for review to Gerrit
	; defaults to the tracked remote branch
	; if the current branch is not tracking anything
	; then defaults to master
	review = "!review() {\
		merge=$1;\
		[ -z $merge ] && {\
			branch=$(git for-each-ref --format='%(refname:short)' $(git symbolic-ref HEAD));\
			merge=$(git config --get branch.$branch.merge | cut -d/ -f3);\
		};\
		[ -z $merge ] && merge=master;\
		git push origin HEAD:refs/for/$merge;\
	};\
	review"

	; git draft [branch_for_draft]
	; interface to pushing refs for draft to Gerrit
	; defaults to the tracked remote branch
	; if the current branch is not tracking anything
	; then defaults to master
	draft = "!draft() {\
		merge=$1;\
		[ -z $merge ] && {\
			branch=$(git for-each-ref --format='%(refname:short)' $(git symbolic-ref HEAD));\
			merge=$(git config --get branch.$branch.merge | cut -d/ -f3);\
		};\
		[ -z $merge ] && merge=master;\
		git push origin HEAD:refs/drafts/$merge;\
	};\
	draft"

	; git track <new_branch> [branch_to_track]
	; automatically set up a tracking branch
	; defaults to tracking origin/master
	track = "!track() {\
		newbranch=$1;\
		[ -z $newbranch ] && echo \"Specify a branch\" && exit 1;\
		trackedbranch=$2;\
		[ -z $trackedbranch ] && trackedbranch='origin/master';\
		git checkout -b $newbranch --track $trackedbranch;\
	};\
	track"

	; works exactly the same as track, but I found no way to do
	; start = track
	start = "!track() {\
		newbranch=$1;\
		[ -z $newbranch ] && echo \"Specify a branch\" && exit 1;\
		trackedbranch=$2;\
		[ -z $trackedbranch ] && trackedbranch='origin/master';\
		git checkout -b $newbranch --track $trackedbranch;\
	};\
	track"

	; git finish [branch_to_delete]
	finish = "!finish() {\
		deletebranch=$1;\
		[ -z $deletebranch ] &&\
			deletebranch=$(git for-each-ref --format='%(refname:short)'\
				$(git symbolic-ref HEAD));\
		[[ \"$deletebranch\" == 'master' ]] &&\
			echo \"Can't delete master\" && exit 1;\
		git checkout master &&\
		git pull --rebase &&\
		git branch -D $deletebranch;\
	};\
	finish"

	; git create-branch
	create-branch = "!create_branch() {\
		branch_from=$1;\
		new_branch=$2;\
		git fetch &&\
		git push origin $branch_from:refs/heads/$new_branch;\
	};\
	create_branch"
